body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    background-image: url('logo.jpg');
    background-size: 25% ;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

.container {
    background: rgba(26, 26, 26, 0.9); /* Un toque de transparencia para que se vea mejor sobre la imagen */
    padding: 40px;
    border-radius: 15px;
    border: 1px solid #ffcc00;
    box-shadow: 0 0 20px rgba(255, 204, 0, 0.3);
    text-align: center;
}

input {
    display: block;
    margin: 0 auto 15px auto;
    padding: 12px;
    width: 250px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 12px 25px;
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: #000;
    transition: transform 0.2s;
}

button:hover {
    transform: scale(1.05);
}